USE [QuanLiThongTinCovid]
GO
ALTER TABLE [dbo].[thong_tin_khai_bao] DROP CONSTRAINT [fk_ttkbao_nk]
GO
ALTER TABLE [dbo].[thong_tin_cach_li] DROP CONSTRAINT [fk_ttcl_nk]
GO
ALTER TABLE [dbo].[nhan_khau] DROP CONSTRAINT [fk_nk_hogd]
GO
ALTER TABLE [dbo].[ket_qua_test] DROP CONSTRAINT [fk_kq]
GO
ALTER TABLE [dbo].[cach_ly_ho_GD] DROP CONSTRAINT [fk_ma_ho_cach_ly]
GO
/****** Object:  Table [dbo].[thong_tin_khai_bao]    Script Date: 15/12/2020 2:55:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[thong_tin_khai_bao]') AND type in (N'U'))
DROP TABLE [dbo].[thong_tin_khai_bao]
GO
/****** Object:  Table [dbo].[thong_tin_cach_li]    Script Date: 15/12/2020 2:55:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[thong_tin_cach_li]') AND type in (N'U'))
DROP TABLE [dbo].[thong_tin_cach_li]
GO
/****** Object:  Table [dbo].[nhan_khau]    Script Date: 15/12/2020 2:55:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[nhan_khau]') AND type in (N'U'))
DROP TABLE [dbo].[nhan_khau]
GO
/****** Object:  Table [dbo].[ket_qua_test]    Script Date: 15/12/2020 2:55:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ket_qua_test]') AND type in (N'U'))
DROP TABLE [dbo].[ket_qua_test]
GO
/****** Object:  Table [dbo].[ho_gia_dinh]    Script Date: 15/12/2020 2:55:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ho_gia_dinh]') AND type in (N'U'))
DROP TABLE [dbo].[ho_gia_dinh]
GO
/****** Object:  Table [dbo].[cach_ly_ho_GD]    Script Date: 15/12/2020 2:55:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cach_ly_ho_GD]') AND type in (N'U'))
DROP TABLE [dbo].[cach_ly_ho_GD]
GO
/****** Object:  Table [dbo].[cach_ly_ho_GD]    Script Date: 15/12/2020 2:55:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cach_ly_ho_GD](
	[ma_ho_gd] [char](5) NOT NULL,
	[thoi_gian_bat_dau] [datetime] NOT NULL,
	[muc_do_cach_ly] [char](2) NOT NULL,
	[dia_diem_cach_ly] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ho_gd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ho_gia_dinh]    Script Date: 15/12/2020 2:55:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ho_gia_dinh](
	[ma_ho_gd] [char](5) NOT NULL,
	[dia_chi] [nvarchar](100) NOT NULL,
	[chu_ho] [nvarchar](100) NOT NULL,
	[so_thanh_vien] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ho_gd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ket_qua_test]    Script Date: 15/12/2020 2:55:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ket_qua_test](
	[ma_so_cach_ly] [char](5) NOT NULL,
	[thoi_gian_test] [date] NOT NULL,
	[ket_qua_test] [bit] NOT NULL,
	[lan_test] [int] NOT NULL,
 CONSTRAINT [PK__ket_qua___317EFB541175E856] PRIMARY KEY CLUSTERED 
(
	[ma_so_cach_ly] ASC,
	[lan_test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_khau]    Script Date: 15/12/2020 2:55:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_khau](
	[ID_nhan_khau] [int] IDENTITY(1,1) NOT NULL,
	[so_CMND] [decimal](9, 0) NULL,
	[ma_ho_gd] [char](5) NOT NULL,
	[noi_lam_viec] [nvarchar](100) NOT NULL,
	[so_DT] [varchar](10) NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](5) NULL,
 CONSTRAINT [PK_nhan_khau] PRIMARY KEY CLUSTERED 
(
	[ID_nhan_khau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_tin_cach_li]    Script Date: 15/12/2020 2:55:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_tin_cach_li](
	[ma_so_cach_ly] [char](5) NOT NULL,
	[thoi_gian_bat_dau] [date] NOT NULL,
	[muc_do_cach_ly] [char](2) NOT NULL,
	[da_test_covid] [bit] NOT NULL,
	[ID_nhan_khau] [int] NOT NULL,
	[thoi_gian_ket_thuc] [date] NULL,
	[noi_cach_ly] [nvarchar](100) NULL,
 CONSTRAINT [PK__thong_ti__317EFB5404153AB1] PRIMARY KEY CLUSTERED 
(
	[ma_so_cach_ly] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_tin_khai_bao]    Script Date: 15/12/2020 2:55:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_tin_khai_bao](
	[ma_khai_bao] [varchar](10) NOT NULL,
	[ID_nhan_khau] [int] NOT NULL,
	[tinh_trang_sk] [nvarchar](100) NOT NULL,
	[thoi_gian_khai_bao] [date] NULL,
	[lich_su_di_lai] [nvarchar](200) NULL,
 CONSTRAINT [PK_thong_tin_khai_bao_1] PRIMARY KEY CLUSTERED 
(
	[ma_khai_bao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ho_gia_dinh] ([ma_ho_gd], [dia_chi], [chu_ho], [so_thanh_vien]) VALUES (N'A0001', N'HA NOI', N'NGUYEN VAN A', 4)
INSERT [dbo].[ho_gia_dinh] ([ma_ho_gd], [dia_chi], [chu_ho], [so_thanh_vien]) VALUES (N'A0002', N'HA NOI', N'NGUYEN VAN B', 5)
INSERT [dbo].[ho_gia_dinh] ([ma_ho_gd], [dia_chi], [chu_ho], [so_thanh_vien]) VALUES (N'A0003', N'HA NOI', N'LE XUAN A', 3)
GO
SET IDENTITY_INSERT [dbo].[nhan_khau] ON 

INSERT [dbo].[nhan_khau] ([ID_nhan_khau], [so_CMND], [ma_ho_gd], [noi_lam_viec], [so_DT], [ho_ten], [ngay_sinh], [gioi_tinh]) VALUES (1, CAST(154151514 AS Decimal(9, 0)), N'A0002', N'Hà nội', N'125645126', N'Nguyễn Văn A', CAST(N'1990-06-03' AS Date), N'Nam')
INSERT [dbo].[nhan_khau] ([ID_nhan_khau], [so_CMND], [ma_ho_gd], [noi_lam_viec], [so_DT], [ho_ten], [ngay_sinh], [gioi_tinh]) VALUES (2, CAST(511939418 AS Decimal(9, 0)), N'A0002', N'Hà nội', N'125645126', N'Nguyễn Văn An', CAST(N'1990-06-03' AS Date), N'Nam')
INSERT [dbo].[nhan_khau] ([ID_nhan_khau], [so_CMND], [ma_ho_gd], [noi_lam_viec], [so_DT], [ho_ten], [ngay_sinh], [gioi_tinh]) VALUES (3, CAST(357224262 AS Decimal(9, 0)), N'A0002', N'Hà nội', N'674633525', N'Nguyễn Văn Am', CAST(N'1990-06-03' AS Date), N'Nam')
SET IDENTITY_INSERT [dbo].[nhan_khau] OFF
GO
INSERT [dbo].[thong_tin_cach_li] ([ma_so_cach_ly], [thoi_gian_bat_dau], [muc_do_cach_ly], [da_test_covid], [ID_nhan_khau], [thoi_gian_ket_thuc], [noi_cach_ly]) VALUES (N'd4581', CAST(N'2020-06-02' AS Date), N'F2', 0, 5, NULL, N'Hà Nội')
INSERT [dbo].[thong_tin_cach_li] ([ma_so_cach_ly], [thoi_gian_bat_dau], [muc_do_cach_ly], [da_test_covid], [ID_nhan_khau], [thoi_gian_ket_thuc], [noi_cach_ly]) VALUES (N'S0001', CAST(N'2020-05-06' AS Date), N'F2', 0, 4, NULL, N'Lạng Sơn')
INSERT [dbo].[thong_tin_cach_li] ([ma_so_cach_ly], [thoi_gian_bat_dau], [muc_do_cach_ly], [da_test_covid], [ID_nhan_khau], [thoi_gian_ket_thuc], [noi_cach_ly]) VALUES (N'S0012', CAST(N'2020-09-04' AS Date), N'F3', 0, 6, NULL, N'Hòa Bình')
GO
INSERT [dbo].[thong_tin_khai_bao] ([ma_khai_bao], [ID_nhan_khau], [tinh_trang_sk], [thoi_gian_khai_bao], [lich_su_di_lai]) VALUES (N'a175', 25, N'Yếu', CAST(N'2020-09-27' AS Date), N'Hà nội')
INSERT [dbo].[thong_tin_khai_bao] ([ma_khai_bao], [ID_nhan_khau], [tinh_trang_sk], [thoi_gian_khai_bao], [lich_su_di_lai]) VALUES (N'a515', 13, N'Yếu', CAST(N'2020-10-01' AS Date), N'Thanh Hóa')
INSERT [dbo].[thong_tin_khai_bao] ([ma_khai_bao], [ID_nhan_khau], [tinh_trang_sk], [thoi_gian_khai_bao], [lich_su_di_lai]) VALUES (N'a890', 31, N'Yếu', CAST(N'2020-09-30' AS Date), N'Thanh Hóa')
GO
ALTER TABLE [dbo].[cach_ly_ho_GD]  WITH CHECK ADD  CONSTRAINT [fk_ma_ho_cach_ly] FOREIGN KEY([ma_ho_gd])
REFERENCES [dbo].[ho_gia_dinh] ([ma_ho_gd])
GO
ALTER TABLE [dbo].[cach_ly_ho_GD] CHECK CONSTRAINT [fk_ma_ho_cach_ly]
GO
ALTER TABLE [dbo].[ket_qua_test]  WITH CHECK ADD  CONSTRAINT [fk_kq] FOREIGN KEY([ma_so_cach_ly])
REFERENCES [dbo].[thong_tin_cach_li] ([ma_so_cach_ly])
GO
ALTER TABLE [dbo].[ket_qua_test] CHECK CONSTRAINT [fk_kq]
GO
ALTER TABLE [dbo].[nhan_khau]  WITH CHECK ADD  CONSTRAINT [fk_nk_hogd] FOREIGN KEY([ma_ho_gd])
REFERENCES [dbo].[ho_gia_dinh] ([ma_ho_gd])
GO
ALTER TABLE [dbo].[nhan_khau] CHECK CONSTRAINT [fk_nk_hogd]
GO
ALTER TABLE [dbo].[thong_tin_cach_li]  WITH CHECK ADD  CONSTRAINT [fk_ttcl_nk] FOREIGN KEY([ID_nhan_khau])
REFERENCES [dbo].[nhan_khau] ([ID_nhan_khau])
GO
ALTER TABLE [dbo].[thong_tin_cach_li] CHECK CONSTRAINT [fk_ttcl_nk]
GO
ALTER TABLE [dbo].[thong_tin_khai_bao]  WITH CHECK ADD  CONSTRAINT [fk_ttkbao_nk] FOREIGN KEY([ID_nhan_khau])
REFERENCES [dbo].[nhan_khau] ([ID_nhan_khau])
GO
ALTER TABLE [dbo].[thong_tin_khai_bao] CHECK CONSTRAINT [fk_ttkbao_nk]
GO
